<agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
    <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr>
<!-- <ul>
	<ng-container *ngFor="let persona of personas">
		<li *ngIf="persona.edad>18">{{persona.nombre}} tiene {{persona.edad}} años</li>
	</ng-container>
</ul> -->

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Lugares Cercanos</h2>
            <div style="margin-bottom: 5px;" *ngIf="loggedIn">
                <a routerLink="/crear" class="btn btn-primary">Crear Negocio +</a>
            </div>

            <div class="alert alert-danger" *ngIf="error != null">
                <p>{{error}}</p>
            </div>

            <br>

            <!--<div id="cuadrado" [@contenedorAnimable]="state" (@contenedorAnimable.start)="contenedorInicia($event)" (@contenedorAnimable.done)="contenedorTermina($event)"></div>
            <br>
            <button class="btn btn-default" (click)="animar()">Animar</button>--> <!-- EJEMPLO DE ANIMACION -->

            <ul class="list-group">
                <ng-container *ngFor="let lugar of lugares">
                    <li class="list-group-item">
                        <span *ngIf="lugar.plan == 'pagado'" style="color: #ffb635"
                              class="glyphicon glyphicon-star pull-right" title="Empresa Destacada"></span>
                        <a routerLink="/detalle/{{lugar.id}}" [queryParams]="{action: 'view', referer: 'edit'}">
                            <h4>{{lugar.nombre}}</h4>
                        </a>
                        <br>
                        <small style="color: gray">Creado: {{lugar.id | date:'short' | uppercase}}</small>
                        <br>
                        <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                        <a title="Editar" class="btn btn-default" routerLink="/crear/{{lugar.id}}" *ngIf="loggedIn"><i
                                class="glyphicon glyphicon-pencil"></i></a>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="col-md-4" [@contenedorAnimable]="state">
            <h2>Destacados</h2>
            <ng-container *ngFor="let lugar of lugares">
                <div class="bg-warning padding" *ngIf="lugar.plan == 'pagado'">
                    <a routerLink="/detalle/{{lugar.id}}" [queryParams]="{action: 'view', referer: 'edit'}">
                        <h4>{{lugar.nombre}}</h4>
                    </a>
                    <br>

                    <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                </div>
            </ng-container>
        </div>
    </div>
</div>