<agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
    <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr>
<!-- <ul>
	<ng-container *ngFor="let persona of personas">
		<li *ngIf="persona.edad>18">{{persona.nombre}} tiene {{persona.edad}} años</li>
	</ng-container>
</ul> -->

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Lugares Cercanos</h2>
            <div style="margin-bottom: 5px;">
                <a routerLink="/crear" class="btn btn-primary">Crear Negocio +</a>
            </div>

            <div class="alert alert-danger" *ngIf="error != null">
                <p>{{error}}</p>
            </div>

            <br>

            <div id="cuadrado" [@contenedorAnimable]="state"></div>
            <ul class="list-group">
                <ng-container *ngFor="let lugar of lugares">
                        <li class="list-group-item">
                            <a routerLink="/detalle/{{lugar.id}}" [queryParams]="{action: 'view', referer: 'edit'}">
                                <h4>{{lugar.nombre}}</h4>
                            </a>
                            <br>
                            <small style="color: gray">Creado: {{lugar.id | date:'short' | uppercase}}</small>
                            <br>
                            <p [innerHtml]="lugar.descripcion | linkifystr"></p>
                            <a title="Editar" class="btn btn-default" routerLink="/crear/{{lugar.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
                        </li>
                </ng-container>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Destacados</h2>
        </div>
    </div>
</div>